*.iml
.gradle
.idea/*
/local.properties
.DS_Store
/build
/app/dev/*
/app/pre/*
/app/dev/*
/app/pro/*
/app/seeds.txt
/app/usage.txt
/captures
.externalNativeBuild
/.scannerwork
android-v3/local.properties
android-v3/build.gradle
Au10tixSDK-1.0.3.32/build/.transforms
riskifiedbeacon-release/build/.transforms
core-release/build/.transforms/
*.bin
core-release/build/
selfieModule-release/build/.transforms/
SmartDocument-release/build/.transforms/
